*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[data-mode='light'] {
  --bg-color: hsl(0, 0%, 98%);
  --bg-forms-color: hsl(100, 100%, 100%);
  --focus: hsl(220, 98%, 61%);
  --heading-color: hsl(100, 100%, 100%);
  --text-color: hsl(235, 19%, 35%);
  --text-checked-color: hsl(236, 33%, 92%);
  --btn-color: hsl(236, 9%, 61%);
  --btn-hover-color: hsl(235, 21%, 11%);
  --border-bottom-color: hsl(233, 11%, 84%);
  --test-color: hsl(0, 100%, 50%);
}

[data-mode='dark'] {
  --bg-color: hsl(235, 21%, 11%);
  --bg-forms-color: hsl(235, 24%, 19%);
  --focus: hsl(220, 98%, 61%);
  --heading-color: hsl(100, 100%, 100%);
  --text-color: hsl(234, 39%, 85%);
  --text-checked-color: hsl(233, 14%, 35%);
  --btn-color: hsl(233, 14%, 35%);
  --btn-hover-color: hsl(234, 39%, 85%);
  --border-bottom-color: hsl(233, 14%, 35%);
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  position: relative;
  background-color: var(--bg-color);
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

header {
  height: 25%;
  max-width: 1440px;
  margin: auto;
  background-image: url(../images/bg-mobile-light.jpg);
  background-size: cover;
}

header.dark {
  background-image: url(../images/bg-mobile-dark.jpg);
}

.login-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-color);
  z-index: 5;
  -webkit-transition: top 1s;
  transition: top 1s;
}

.login-screen h2 {
  margin-inline: 1em;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
}

.login-screen p {
  margin-top: 0.5em;
  color: var(--text-color);
}

.login-screen input {
  margin-top: 1.5em;
  padding-left: 1em;
  width: clamp(300px, 80%, 600px);
}

.login-screen ::-webkit-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

.login-screen :-ms-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

.login-screen ::-ms-input-placeholder {
  color: var(--text-color);
  opacity: 1;
}

.login-screen ::placeholder {
  color: var(--text-color);
  opacity: 1;
}

.login-screen .btn-box {
  margin-top: 1.8em;
}

.login-screen button {
  width: 125px;
  height: 50px;
  margin-inline: 1.5em;
  color: var(--text-color);
  background-color: var(--bg-forms-color);
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.login-screen button:hover {
  color: var(--bg-forms-color);
  background-color: var(--text-color);
}

.active {
  top: 0;
}

.todo-app {
  width: clamp(300px, 85%, 550px);
  position: absolute;
  top: 65px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.todo-app .btn-input {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 89px;
  left: 18px;
  border: 1px solid var(--border-bottom-color);
  border-radius: 50%;
  background: none;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--heading-color);
}

.heading h1 {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 3.2rem;
}

.heading .login-icon,
.heading .mode-icon {
  margin-left: 1.2em;
  cursor: pointer;
}

.heading .login-icon {
  content: url(../images/user-solid.svg);
}

input {
  width: 100%;
  padding: 1em 0 1em 3em;
  margin-top: 2em;
  border: hidden;
  border-radius: 8px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-forms-color);
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}

input:focus {
  outline: none;
}

ul {
  width: 100%;
  margin-top: 1.5em;
  border-radius: 8px 8px 0 0;
  background-color: var(--bg-forms-color);
  list-style: none;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  overflow: hidden;
}

li.active {
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid var(--border-bottom-color);
  color: var(--text-color);
  -webkit-transition: border-bottom 0.5s, color 0.5s, background-color 0.5s;
  transition: border-bottom 0.5s, color 0.5s, background-color 0.5s;
  background-color: var(--bg-forms-color);
}

.btn-li {
  height: 25px;
  width: 25px;
  border: 1px solid var(--border-bottom-color);
  border-radius: 50%;
  background: none;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  cursor: pointer;
}

.btn-li:hover {
  border: 1px solid var(--focus);
}

.li-text {
  margin-left: 1em;
  line-height: 25px;
  cursor: pointer;
}

.li-text:hover ~ .btn-li {
  border: 1px solid var(--focus);
}

li.checked {
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 1px solid var(--border-bottom-color);
  color: var(--text-color);
  -webkit-transition: border-bottom 0.5s, color 0.5s, background-color 0.5s;
  transition: border-bottom 0.5s, color 0.5s, background-color 0.5s;
}

li.checked .check-icon {
  content: url(../images/icon-check.svg);
  display: inline;
}

li.checked .btn-li {
  border: none;
  background: linear-gradient(125deg, #57ddff, #c058f3);
}

li.checked .li-text {
  text-decoration: line-through;
  color: var(--text-checked-color);
}

li.checked .li-text:hover ~ .btn-li {
  border: transparent;
}

.delete-icon {
  content: url(../images/icon-cross.svg);
  height: 15px;
  margin-block: auto;
  margin-left: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.delete-icon:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-box {
  width: 100%;
  margin-bottom: 2em;
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  border-radius: 0 0 8px 8px;
  color: var(--btn-color);
  background-color: var(--bg-forms-color);
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}

.menu-box-mobile {
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 8px;
  background-color: var(--bg-forms-color);
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}

.menu-box-mobile .btn {
  font-size: 1.6rem;
}

.menu-box-middle {
  display: none;
}

.btn {
  margin-inline: 1em;
  border: none;
  background: none;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: var(--btn-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: var(--btn-hover-color);
}

.btn-clear {
  margin-inline: 1em;
  border: none;
  background: none;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: var(--btn-color);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
  margin-right: 0;
}

.btn-clear:hover {
  color: var(--btn-hover-color);
}

.btn-filter {
  color: var(--focus);
}

@media (min-width: 768px) {
  header {
    height: 31.5%;
    background-image: url(../images/bg-desktop-light.jpg);
  }
  header.dark {
    background-image: url(../images/bg-desktop-dark.jpg);
  }
  .heading h1 {
    letter-spacing: 14px;
    font-size: 4.2rem;
  }
  .todo-app {
    top: 90px;
  }
  .todo-app .btn-input {
    top: 93px;
  }
  .menu-box-middle {
    display: block;
  }
  .menu-box-mobile {
    display: none;
  }
  .btn {
    margin-inline: 0.5em;
  }
  .btn-clear {
    margin-right: 0;
  }
}
/*# sourceMappingURL=main.css.map */